# See http://help.github.com/ignore-files/ for more about ignoring files.



# compiled output
/angular-app/dist
/angular-app/tmp
/angular-app/out-tsc
/node-app/public
/angular-app/node_modules
/node-app/node_modules
/node-app/package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
